.Container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: auto;
  position: relative;
  background-color: #dce0e1;
}

.pageName {
  text-align: left;
  font-size: 30px;
  color: #333;
  margin-left: 20px;
  margin-bottom: 50px;
}

.ContentWrapper {
  display: flex;
  gap: 0.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.ContentHeadline {
  width: 100%;
  font-size: 18px;
  color: black;
  background-color: #a4a4a4;
  padding: 5px 20px;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.itemBox {
  flex: 1;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  position: relative;
  max-width: 290px;
  margin-left: 1rem;
}

.headLine {
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-align: left;
}

.ContentBox {
  flex: 1;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  min-width: 400px;
  position: relative;
  margin-right: 1rem;
}
.Photos {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Photo {
  width: calc(33.333% - 10px);
  border-radius: 8px;
  object-fit: cover;
  max-width: 400px;
  height: 400px;
}

.Paragraph {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion_title {
  font-size: 15px;
  font-weight: semi-bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
  background-color: #a4a4a4;
  transition: background-color 0.3s ease;
}

.accordion_title.active {
  background-color: #4f0007; /* Highlight color */
  color: #ccc;
  font-weight: bold;
}
