@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* image slider */
.csl-slide Image {
  margin: 0;
}

.csl-slide {
  transform: scale(0.5);
  transition: transform 300ms;
  opacity: 0.5;
}

.csl-activeSlide {
  transform: scale(1.5);
  opacity: 1;
}

.arrow {
  position: absolute;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 5%;
  top: 50%;
}

.prev {
  left: 5%;
  top: 50%;
}

/* hamburger button */

.hambutton svg {
  height: 80px;
  position: absolute;
  width: 80px;
}
.hambutton .plates {
  display: flex;
  flex-wrap: wrap;
  max-height: 160px;
  width: 640px;
}
@media (max-width: 640px) {
  .hambutton .plates {
    width: 320px;
  }
}
.hambutton .plate {
  height: 80px;
  width: 80px;
}
.hambutton .burger {
  filter: url(#gooeyness);
}
.hambutton .x {
  transform: scale(0);
  transition: transform 400ms;
}
.hambutton .line {
  fill: none;
  stroke: white;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}
.hambutton .x .line {
  stroke-width: 5.5px;
}

.hambutton .plate4 .x {
  transition: transform 400ms;
}
.hambutton .plate4 .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}
.hambutton .active.plate4 .line {
  transition: transform 400ms;
}
.hambutton .active.plate4 .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0.7);
}
.hambutton .active.plate4 .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0.7);
}
.hambutton .active.plate4 .line3 {
  transform: translateY(0px) rotate(45deg) scale(0.7);
}
.hambutton .active.plate4 .line4 {
  transform: translateY(0px) rotate(-45deg) scale(0.7);
}
.hambutton .active.plate4 .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
}
.hambutton .active.plate4 .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0.7);
}
.hambutton .active.plate4 .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}

.transition-height {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.transition-hidden {
  max-height: 0;
  opacity: 0;
}

.transition-visible {
  max-height: 500px; /* Adjust this value as needed */
  opacity: 1;
}
